[Unit]
Description=ASL Asterisk AMI cmdlink for %i
After=asl-asterisk asterisk

[Service]
Type=exec
ExecStart=/usr/local/bin/asl-cmdlink %i /usr/local/etc/allmon3.ini

[Install]
WantedBy=multi-user.target
