;
; menu.ini.example
;
; If this file is present in the api/ subdirectory of Allmon3's web interface
; and named menu.ini, this file will override the default behavior of the
; web interface simply listing the configured nodes in the left navbar.
; If this file is not present, all nodes in allmon3.ini/allmon3.ini.php
; will display singly in configured order.
;
; NOTE: Not listing a node in the menu WILL NOT cause the node to go
; un-polled if it is already configured in allmon3.ini. This allows
; the system administrator to have "hidden" nodes. If you want to completely
; stop polling an Asterisk/ASL node, the node must be removed from allmon3.ini.
;
; The format for this file is as follows:
;
; [ TITLE ]							:: The stanza header is the label
;									:: for this menu item
;
; type  = ( menu | single )			:: If type = menu, the item is interpreted as a dropdown
;									:: menu with each LABEL item displaying. If the
;									:: type = single, then only a the first LABEL = TARGET
;									:: will be displayed as a non-dropdown. In the case of
;									:: type = single, the [ TITLE ] is ignored completely
;
; LABEL = TARGET					:: Each [ TITLE ] displays one or more LABELS
; LABEL = TARGET					:: with a link to TARGET. When TARGET is all numbers
; LABEL = TARGET					:: then TARGET is assumed to be a ASL node and
;									:: the link will filter down to the TARGET node
;									:: specified. Any other pattern will be interpreted
;									:: as a full or partial URL/URI.
;
; Note that the order of the nodes within a stanza is irrelevant. They will be displayed
; as sorted alphabestically ascending according to UTF-8 (e.g. 0-9, A-Z, +).
;
; Here's an example menu
;	[ W8WKY ]
;	type = menu
;	W8WKY = 43211
;	48496 = 48496
;	45839 = 45839
;	
;	[ N8XPK ]
;	type = menu
;	N8XPK = 42993
;	43118 = 43118
;	47987 = 47987
;	
;	[ Test ]
;	type = single
;	SARA = https://w8wky.org
;	
;	
