[Unit]
Description=Allmon3 daemon
After=network.target
After=asterisk.service

[Service]
Type=exec
User=allmon3
Group=allmon3
Environment="PATH=/usr/bin:/bin:/usr/sbin:/sbin"
ExecStart=allmon3
ExecReload=kill -USR1 $MAINPID

[Install]
WantedBy=multi-user.target
