Source: allmon3
Section: Miscellaneous
Priority: optional
Maintainer: Jason McCormick <jason@mfamily.org>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.5.1
Homepage: https://github.com/AllStarLink/Allmon3
Vcs-Browser: https://github.com/AllStarLink/Allmon3
Vcs-Git: https://github.com/AllStarLink/Allmon3.git
Rules-Requires-Root: no

Package: allmon3
Architecture: all
Depends: apache2, python3-zmq, php-zmq, python3-argon2
Description: Web monitoring interface for AllStarLink
  Allmon is the standard web-based montitoring 
  and management for the AllStarLink application.
