[Unit]
Description=Allmon3 daemon
After=asl-asterisk asterisk

[Service]
Type=exec
User=allmon3
Group=allmon3
Environment="PATH=/usr/bin:/bin:/usr/sbin:/sbin"
ExecStart=allmon3

[Install]
WantedBy=multi-user.target
