[Unit]
Description=ASL Asterisk AMI poller for %i
After=asl-asterisk asterisk

[Service]
Type=exec
User=allmon3
Group=allmon3
Environment="PATH=/usr/bin:/bin:/usr/sbin:/sbin"
ExecStart=asl-statmon %i /etc/allmon3/allmon3.ini

[Install]
WantedBy=multi-user.target
