[Unit]
Description=ASL Asterisk AMI cmdlink for %i
After=asl-asterisk asterisk

[Service]
Type=exec
User=allmon3
group=allmon3
Environment="PATH=/usr/bin:/bin:/usr/sbin:/sbin"
ExecStart=asl-cmdlink %i /etc/allmon3/allmon3.ini

[Install]
WantedBy=multi-user.target
