[Unit]
Description=ASL Asterisk AMI voter poller for %i
After=asl-asterisk asterisk

[Service]
Type=exec
User=allmon3
Group=allmon3
Environment="PATH=/usr/bin:/bin:/usr/sbin:/sbin"
ExecStart=asl-votermon %i 

[Install]
WantedBy=multi-user.target
